@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  position: relative;
  min-height: 100vh;
}

.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/ia.webp'); /* Ruta de tu imagen */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(10px); /* Aplica el desenfoque aquí */
  z-index: -1; /* Coloca el fondo por detrás del contenido */
}

.content {
  position: relative;
  z-index: 1; /* Coloca el contenido por encima del fondo */
  padding: 2rem;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000; /* Puedes ajustar el color del cursor al parpadear */
  }
}

.typing-animation {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  border-right: 2px solid transparent; /* Ajusta según tus necesidades */
  animation: typing 2s steps(20, end), blink-caret 0.75s infinite alternate;
}
