@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --giants-orange: #f46036ff;
  --silver-lake-blue: #5b85aaff;
  --delft-blue: #414770ff;
  --russian-violet: #372248ff;
  --dark-purple: #171123ff;
}

body {
  position: relative;
  min-height: 100vh;
  color: var(--silver-lake-blue);
}

.dark body {
  @apply bg-dark-purple;
}

nav {
  @apply bg-silver-lake-blue; /* Color predeterminado */
}

h1 {
  color: var(--giants-orange);
}

button {
  color: var(--giants-orange);
}

.dark nav {
  @apply bg-russian-violet; /* Color en modo oscuro */
}

.button {
  background-color: var(--giants-orange);
  color: var(--dark-purple);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #000;
    /* Puedes ajustar el color del cursor al parpadear */
  }
}

.typing-animation {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  border-right: 2px solid transparent;
  /* Ajusta según tus necesidades */
  animation: typing 2s steps(20, end), blink-caret 0.75s infinite alternate;
}